@charset "utf-8";
body {
	margin:0px;
	padding:0px;
	background-color: #B9D8F2;
	background-image: url(../image/body_back2.png);
	background-repeat: repeat-x;
	background-position: top;
	}

img {
	border:0;
}

.clear-both {
	clear: both;
	margin: 0;
	padding: 0;
}
.clear-both hr { display: none;  margin: 0; padding: 0;}


/*start_layout*/
#contentWrapper {
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-size: 90%;
	color: #413E3D;
	display: block;
	padding: 0px;
}


#contentWrapper a { color:#0000cc; text-decoration:none;}
#contentWrapper a:visited { color:purple; text-decoration:none; }
#contentWrapper a:active { color:#0000cc; text-decoration:none; }
#contentWrapper a:hover { color:#0000cc; text-decoration:underline; }
#contentWrapper a.uline { color:#0000cc; text-decoration:underline;}
#contentWrapper a:visited.uline { color:purple; text-decoration:underline; }
#contentWrapper a:active.uline { color:#ff0000; text-decoration:underline; }
#contentWrapper a:hover.uline { color:#ff0000; text-decoration:underline; }
#hedaer{
	background-image: url(../image/hedaer_back.png);
	background-repeat: repeat-x;
	height: 65px;
	width: 980px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 35px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-align: center;
}
#hedaer h1{
	font-size: xx-large;
	color: #FFF;
	margin: 0px;
}

#aist_home{
	float: right;
	margin: 0px;

}

#aist_home2{
	float: right;
	margin-top: -90px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;

}

#update{
	padding: 0px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: right;
}

#contents{
	padding: 30px;
	background-color: #6A7788;
	margin: 0px;
}
#cont_1{
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	float: left;
}

#cont_2{
	margin: 0px;
	padding: 0px;
}

#my_photo{
	float: left;
	margin: 0px;
	padding: 0px;
	}

#profile{
	float: left;
	height: 212px;
	width: 860px;
	background-image: url(../image/profile_back.png);
	background-repeat: repeat-x;
	padding: 30px;
	margin: 0px;
	}

#menu{
	width: 220px;
	margin: 0px;
	padding: 0px;
	float: left;
}

#menu ul{
	padding: 0px;
	margin: 0px;
	
}

#menu li{
	color: #423E3D;
	top: 10px;
	margin-bottom: 5px;
	list-style-type: none;
	list-style-image: none;

}

#menu li a{
	color: #454241;
	height: 22px;
	padding-top: 8px;
	display: block;
	background-repeat: no-repeat;
	padding-left: 15px;
	background-image: url(../image/menu.gif);
}

#menu li a:hover {
	color:#FFF;
	background-image: url(../image/menu_bk.gif);
	background-repeat: no-repeat;
}

#menu li a:visited {
	color:#43403F;
}
#menu li a.navi_open {
	color: #FFF;
	background-image: url(../image/menu_bk.gif);
	background-repeat: no-repeat;
	margin: 0px;
}

#menu ul ul {
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#menu li li {
	list-style-image: url(../image/li2.png);
	list-style-position: inside;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 10px;
	font-size: 90%;
}

#menu li li a{
	color: #454241;
	background-image: none;
	padding: 0px;
	display: inline;
	margin: 0px;
	font-size: 90%;
}

#menu li li a:hover {
	color:#006;
	background-image: none;
}

#menu li li a:visited {
	color:#CCC;
	background-image: none;
}
#menu li li a.navi_open{
	color: #FFF;
	background-image: none;
	font-size: 90%;
}

#main{
	width: 620px;
	background-color: #FFF;
	padding: 30px;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;

}

#main dt{
	width: 116px;
	color: #FFF;
	font-size: medium;
	background-image: url(../image/menu_back3.png);
	background-repeat: no-repeat;
	width: 130px;
	color: #FFF;
	font-size: medium;
	text-align: center;
	padding: 5px;
	clear: both;
	float: left;
	height: 30px;


}

#main dd{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 0px;
	padding-left: 0px;
	float: left;
	clear: both;
	width: 100%;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #9E9E9E;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;


}


#main h2{
	font-size: medium;
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #4C4948;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #4C4948;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-left: 5px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.name{
	list-style: none;
	padding: 0;
	font-size: medium;
	font-weight: bold;
	margin-bottom: 15px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #BEBEBE;
}
.department  {
	margin-bottom: 15px;
	line-height: 120%;
}
.address  {
	margin-bottom: 15px;
	line-height: 120%;
}
.list  {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.list li{
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;
	padding: 0px;
}

table.dot {
	border-collapse: collapse;
	border: dotted 1px gray;
	margin-top: 0;
	margin-bottom: 10px;
	width: 100%;
	padding: 0px;
	margin-right: 0px;
	margin-left: 0px;
}
.dot td { padding: 5px; border: dotted 1px gray; }
.dot th { background-color: #E1E1E1; text-align: center; vertical-align: top; padding: 5px; border: dotted 1px gray; font-weight: normal; }
.link li{
	margin-bottom: 5px;
}


#footer  {
	padding-top: 5px;
	text-align: center;
	background-color: #6A7788;
	padding-bottom: 15px;
	margin-bottom: 50px;
	color: #FFF;
}
